In [1]:
import pandas as pd
import numpy as np

In [45]:
dataframe = pd.read_csv('data/data.csv')
dataframe = dataframe[[
    'ID', 'Age', 'Nationality', 'Club', 'Value', 'Wage', 'Position',
    'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
    'Height', 'Weight', 'Jersey Number', 'Joined',
    
    'Finishing', 'SprintSpeed', 'Stamina', 'BallControl', 'Penalties', 'Aggression',
    'StandingTackle', 'SlidingTackle', 'Interceptions', 'ShotPower', 'Dribbling',
    'ShortPassing', 'LongPassing', 'LongShots'
]]

In [46]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    18207 non-null  int64
 1   Age                   18207 non-null  int64
 2   Nationality           18207 non-null  object
 3   Club                  17966 non-null  object
 4   Value                 18207 non-null  object
 5   Wage                  18207 non-null  object
 6   Position              18147 non-null  object
 7   Jersey Number         18147 non-null  float64
 8   Joined                16654 non-null  object
 9   Loaned From           1264 non-null   object
 10  Contract Valid Until  17918 non-null  object
 11  Height                18159 non-null  object
 12  Weight                18159 non-null  object
 13  Jersey Number         18147 non-null  float64
 14  Joined                16654 non-null  object
 15  Finishing             18159 non-null  float64
 16  SprintSpeed           18159 non-null  float64
 17  Stamina               18159 non-null  float64
 18  BallControl           18159 non-null  float64
 19  Penalties             18159 non-null  float64
 20  Aggression            18159 non-null  float64
 21  StandingTackle        18159 non-null  float64
 22  SlidingTackle         18159 non-null  float64
 23  Interceptions         18159 non-null  float64
 24  ShotPower             18159 non-null  float64
 25  Dribbling             18159 non-null  float64
 26  ShortPassing          18159 non-null  float64
 27  LongPassing           18159 non-null  float64
 28  LongShots             18159 non-null  float64
dtypes: float64(16), int64(2), object(11)
memory usage: 4.0+ MB

In [47]:
dataframe['Height'] = dataframe['Height'].apply(
    lambda x: (int(x.split('\'')[0]) * 12 + int(x.split('\'')[1])) * 2.54 if x is not np.nan else x
)

dataframe['Height'] = dataframe['Height'].fillna(dataframe['Height'].mean())

dataframe['Weight'] = dataframe['Weight'].apply(
    lambda x: int(x[:3]) * 0.453592 if x is not np.nan else x
)

dataframe['Weight'] = dataframe['Weight'].fillna(dataframe['Weight'].mean())

In [48]:
for column in ['Value', 'Wage']:
    dataframe[column] = dataframe[column].apply(
        lambda x: x.split('â‚¬')[1]
    )
    dataframe[column] = dataframe[column].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval)